* {
    font-family: Arial, sans-serif;
    text-align: center;
    scrollbar-width: none;
}

body {
    background-color:#F4F4F4
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: #2E4053;
}
h3 {
    font-size: 1.5em;
    color: #34495E;
}

#selectPiece {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#salon, #chambre {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    text-align: center;
    height: calc(100vh - 30px); /* Ajuste la hauteur pour tenir compte de la marge */
}





#vue-image {
    width: 70%;
    /* overflow: hidden;  */
    position: relative; /* Relative positioning to align correctly */
}

#vue-options {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto; /* Permet le défilement vertical */
    height: 100%; /* Occupe toute la hauteur disponible */
    margin-right: 20px;
   
}

#imageBaseSalon, #imageBaseChambre {
    width: 100%;
}

button.active {
    box-shadow: 0px 0px 15px rgba(250, 107, 59, 0.7);
    border: 2px solid #FA6B3B;
}

#salon-sol, #salon-peinture, #chambre-sol, #chambre-peinture {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes de largeur égale */
    gap: 10px; /* Espace entre les boutons */
    width: 100%; /* Ajuste la largeur de la grille */
    justify-items: center; /* Centre les boutons horizontalement */
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5D6D7E;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 90px;
    height: 90px;
}

#image-container img {
    position: absolute;
    /* top: 235px; */
    left: 20px;
    width: 95%;
    height: auto;
    border-radius: 8px;
    z-index: 1; /* S'assure que l'image de base reste visible */
}

#sol-overlay-salon {
    opacity: 1; /* Rend les images de sol superposées opaques */
    z-index: 2; /* Positionne les images de sol au-dessus de l'image de base */
}

#peinture-overlay-salon {
    opacity: 1; /* Rend les images de peinture superposées opaques */
    z-index: 3; /* Positionne les images de peinture au-dessus des images de sol */
}

#artens-casablanca-salon, #artens-casablanca-chambre {
    background-image: url("images/vignette-artens-casablanca.png");
    color: #171717;
}

#aubade-abetone-salon, #aubade-abetone-chambre  {
    background-image: url("images/vignette-aubade-abetone.jpg");
    color: #171717;
}

#artens-branch-salon, #artens-branch-chambre {
    background-image: url("images/vignette-artens-carrelage bois gris.png");
    color: #171717;
}

#artens-parquet-chene-blond-salon, #artens-parquet-chene-blond-chambre{
    background-image: url("images/vignette-artens-parquet-chene-blond.png");
    color: #171717;
}




#sol-overlay-salon, #peinture-overlay-salon, #sol-overlay-chambre, #peinture-overlay-chambre {
    transition: opacity 0.5s ease-in-out;
}

button:active {
    transform: scale(0.95);
    transition: transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}





/* Media Query pour les smartphones */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.2em;
    }

    #selectPiece {
        flex-direction: column;
        gap: 20px;
    }

    #salon, #chambre {
        flex-direction: column;
        height: auto; /* Permet aux sections de s'ajuster en hauteur */
    }

    #vue-image {
        width: 100%; /* Prend toute la largeur disponible */
        margin-bottom: 20px;
    }

    #vue-options {
        width: 100%; /* Prend toute la largeur disponible */
        margin-right: 0; /* Supprime la marge sur la droite */
        margin-top: 250px;
    }

    #salon-sol, #salon-peinture, #chambre-sol, #chambre-peinture {
        grid-template-columns: repeat(2, 1fr); /* Réduit à 2 colonnes pour les petits écrans */
        gap: 5px; /* Réduit l'espace entre les boutons */
    }

    button {
        width: 100%; /* Ajuste la largeur des boutons pour occuper toute la place */
        height: auto; /* Permet aux boutons de s'adapter à leur contenu */
        padding: 15px;
        font-size: 14px; /* Réduit la taille de la police */
    }
    
    #image-container img {
        width: 100%; /* S'assure que l'image occupe toute la largeur disponible */
        height: auto; /* Maintient les proportions de l'image */
    }
}

